<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mica.viva"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.SettingActivity"
            android:label="Application settings"
            android:theme="@android:style/Theme.Black" >
            <intent-filter>
                <action android:name="com.mica.viva.SettingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.sms.SendingSms"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.sms.SendingSms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.sms.ReadingSms"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.sms.ReadingSms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.queryinformation.Weather"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.queryinformation.Weather" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.queryinformation.Forecast"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.queryinformation.Forecast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.queryinformation.Gold"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.queryinformation.Gold" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.queryinformation.Exchange"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.queryinformation.Exchange" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.conversation.Talk"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.controller.conversation.Talk" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mica.viva.controller.BaseModuleController"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name=".inputting.VADRecord"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="com.mica.viva.inputting.VADRecord" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".controller.sms.ReceivingSms" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>